.myheader {
  position: fixed;
  background-color: black;
  color: white;
  top:0;
  right:0;
  left: 0;
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 16px;
}

.list li {
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width ease 0.3s;
}

.list li:hover::after {
   width: 100%;
}

.link {
  color: white;
  text-decoration: none;
}